language: java
jdk:
  - openjdk8
  - openjdk9
#  - oraclejdk11
  - openjdk10
  - openjdk11
# we run the unit tests.
# We have no integration tests as yet

install:
  - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh
  - cp src/main/toolchains/travis-ci.xml $HOME/.m2/toolchains.xml
  - source ./install-jdk.sh --feature 9 --target $HOME/openjdk9
  - source ./install-jdk.sh --feature 12 --target $HOME/openjdk12
script:
    "mvn --show-version --errors --batch-mode clean test"
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - russ@russgold.net
